@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
.transition {
	transition: all .4s ease-in-out;
}
img {
	object-fit: cover;
}

.lh-64 {
    line-height: 16rem;
}

.h-exfull {
    height: 90%;
    height: calc(100% - 100px);
}