<template>
  <div class="min-h-screen transition" id="app" :class="(globalStat == 'normal') ? 'bg-darkGreen' : (globalStat == 'warning') ? 'bg-darkOrange' : 'bg-darkRed'">
    <div class="pb-12 text-center transition" :class="(globalStat == 'normal') ? 'bg-lightGreen' : (globalStat == 'warning') ? 'bg-lightOrange' : 'bg-lightRed'">
      <h1 class="text-6xl lg:text-9xl uppercase py-12 font-bold text-white mb-4">{{globalStat}}</h1>
      <div class="flex flex-col lg:flex-row justify-center">
        <div class="w-full lg:w-1/3 p-4">
          <div class="bg-white p-2 rounded-lg">
            <h2 class="text-4xl lg:text-5xl capitalize text-darker font-bold mb-4">current speed</h2>
            <h2 class="text-6xl lg:text-9xl font-bold mb-4" :class="(globalStat == 'normal') ? 'text-lightGreen' : (globalStat == 'warning') ? 'text-lightOrange' : 'text-lightRed'">
              {{currentSpeed}}
              <svg class="fill-current inline-block w-12 h-12" viewBox="0 0 50 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8427 74.52H0.339535C-1.16092 62.68 1.53989 39 24.3468 39C47.1537 39 50.8548 62.68 49.8545 74.52H39.3513L36.3504 113H12.3432L10.8427 74.52Z"/>
                <path d="M6 17.5C6 27.165 14.0589 35 24 35C33.9411 35 42 27.165 42 17.5C42 7.83502 33.9411 0 24 0C14.0589 0 6 7.83502 6 17.5Z"/>
              </svg>
              <span class="text-6xl">/min</span>
            </h2>
          </div>
        </div>
        <div class="w-full lg:w-1/3 p-4">
          <div class="bg-white p-2 rounded-lg">
            <h2 class="text-4xl lg:text-5xl capitalize text-darker font-bold mb-4">expected speed</h2>
            <h2 class="text-6xl lg:text-9xl font-bold mb-4" :class="(globalStat == 'normal') ? 'text-lightGreen' : (globalStat == 'warning') ? 'text-lightOrange' : 'text-lightRed'">
              {{expSpeed}}
              <svg class="fill-current inline-block w-12 h-12" viewBox="0 0 50 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8427 74.52H0.339535C-1.16092 62.68 1.53989 39 24.3468 39C47.1537 39 50.8548 62.68 49.8545 74.52H39.3513L36.3504 113H12.3432L10.8427 74.52Z"/>
                <path d="M6 17.5C6 27.165 14.0589 35 24 35C33.9411 35 42 27.165 42 17.5C42 7.83502 33.9411 0 24 0C14.0589 0 6 7.83502 6 17.5Z"/>
              </svg>
              <span class="text-6xl">/min</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="py-12 flex flex-col lg:flex-row">
      <div v-for="station in stations" :key="station.id" class="w-full lg:w-1/3 p-6 text-white">
        <div class="rounded-lg relative" :class="(Math.floor(expSpeed / stations.length) < station.speed) ? 'bg-lightGreen' : (Math.floor(expSpeed / stations.length) == station.speed) ? 'bg-lightOrange' : (Math.floor(expSpeed / stations.length) > station.speed) ? 'bg-lightRed' : ''">
          <div class="absolute p-4 right-0 top-0 text-gold" :class="(Math.floor(expSpeed / stations.length) < station.speed) ? 'block' : 'hidden'">
            <svg class="fill-current" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 31.678 31.678" style="enable-background:new 0 0 31.678 31.678;" xml:space="preserve"><g><g><path d="M15.88,3.567c-0.013,0-0.038-0.003-0.038-0.003c-0.015,0-0.03-0.002-0.045-0.002c-5.352,0-9.691,4.34-9.691,9.69c0,5.353,4.339,9.691,9.691,9.691c0.013,0,0.025-0.001,0.038-0.002c0,0,0.03,0.008,0.045,0.008c5.353,0,9.691-4.34,9.691-9.692C25.571,7.908,21.232,3.567,15.88,3.567z"/><path d="M25.329,20.994c0.132-0.035,0.282-0.045,0.448-0.02c0.716,0.109,1.035-0.33,0.709-0.975c-0.324-0.647,0-1.21,0.722-1.25c0.724-0.042,0.944-0.538,0.492-1.103c-0.453-0.564-0.253-1.183,0.444-1.373c0.699-0.189,0.812-0.723,0.25-1.18c-0.561-0.458-0.491-1.104,0.15-1.438c0.645-0.331,0.645-0.871,0-1.204c-0.643-0.332-0.711-0.978-0.15-1.436c0.562-0.458,0.449-0.988-0.25-1.179c-0.697-0.19-0.897-0.809-0.444-1.374c0.452-0.563,0.231-1.06-0.492-1.101c-0.722-0.042-1.046-0.604-0.722-1.249c0.326-0.647,0.007-1.087-0.709-0.976c-0.715,0.108-1.149-0.373-0.965-1.073c0.184-0.7-0.219-1.063-0.896-0.808c-0.678,0.256-1.202-0.125-1.168-0.848c0.035-0.724-0.436-0.995-1.043-0.602c-0.609,0.391-1.202,0.127-1.318-0.588c-0.117-0.716-0.633-0.883-1.146-0.374c-0.514,0.51-1.15,0.374-1.412-0.3s-0.803-0.729-1.198-0.126c-0.215,0.328-0.503,0.46-0.787,0.433l0,0c-0.286,0.031-0.577-0.103-0.794-0.433c-0.396-0.604-0.936-0.548-1.198,0.126s-0.898,0.81-1.412,0.3c-0.515-0.51-1.03-0.343-1.147,0.373c-0.117,0.715-0.711,0.979-1.319,0.588C9.364,1.413,8.894,1.684,8.929,2.408C8.962,3.129,8.438,3.51,7.761,3.254C7.084,3,6.681,3.362,6.865,4.062S6.615,5.245,5.9,5.135C5.184,5.024,4.865,5.463,5.191,6.111c0.324,0.646,0,1.207-0.722,1.249c-0.723,0.041-0.944,0.537-0.492,1.1C4.431,9.026,4.23,9.645,3.533,9.834c-0.699,0.19-0.811,0.721-0.25,1.179s0.492,1.104-0.15,1.436c-0.645,0.333-0.645,0.873,0,1.204c0.643,0.334,0.711,0.979,0.15,1.438c-0.561,0.457-0.448,0.989,0.25,1.18c0.698,0.19,0.898,0.809,0.445,1.373c-0.452,0.563-0.231,1.061,0.492,1.103c0.722,0.04,1.046,0.603,0.722,1.25C4.865,20.64,5.184,21.08,5.9,20.97c0.167-0.026,0.316-0.017,0.448,0.02l-3.977,7.447h4.2l2.134,3.236l4.018-6.617c0.445-0.231,0.912-0.048,1.127,0.505c0.262,0.675,0.803,0.73,1.198,0.126c0.215-0.327,0.503-0.459,0.787-0.432v0.005c0.286-0.031,0.577,0.102,0.794,0.432c0.396,0.604,0.936,0.55,1.198-0.126c0.215-0.553,0.683-0.736,1.127-0.505l4.019,6.617l2.133-3.236h4.201L25.329,20.994z M20.993,22.49l-0.151,0.083c-1.486,0.788-3.181,1.239-4.979,1.239c-0.007,0-0.02-0.007-0.02-0.007c-0.009,0-0.018,0.001-0.027,0.001c-1.799,0-3.493-0.451-4.979-1.24l-0.152-0.083c-3.259-1.8-5.472-5.253-5.472-9.214c0-5.809,4.757-10.535,10.603-10.535c0.007,0,0.02,0.007,0.02,0.007c0.009,0,0.018-0.001,0.027-0.001c5.846,0,10.603,4.727,10.603,10.535C26.464,17.236,24.252,20.689,20.993,22.49z"/></g></g></svg>
          </div>
          <!-- <h1
            class="font-bold text-4xl lg:text-5xl capitalize mb-4 rounded-t-lg px-4"
            :class="(Math.floor(expSpeed / stations.length) < station.speed) ? 'bg-gold text-white' : 'bg-white text-darker text-center'"
          >Station {{station.id}}</h1> -->
          <h1 class="font-bold text-4xl lg:text-5xl bg-white text-darker  capitalize mb-4 rounded-t-lg px-4">Station {{station.id}}</h1>
          <h2 class="text-6xl lg:text-9xl font-bold mb-4 text-center">
              {{station.speed}}
              <svg class="fill-current inline-block w-12 h-12" viewBox="0 0 50 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8427 74.52H0.339535C-1.16092 62.68 1.53989 39 24.3468 39C47.1537 39 50.8548 62.68 49.8545 74.52H39.3513L36.3504 113H12.3432L10.8427 74.52Z"/>
                <path d="M6 17.5C6 27.165 14.0589 35 24 35C33.9411 35 42 27.165 42 17.5C42 7.83502 33.9411 0 24 0C14.0589 0 6 7.83502 6 17.5Z"/>
              </svg>
              <span class="text-4xl tlg:ext-6xl">/min</span>
            </h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Stats = ['normal', 'warning', 'critical']

import firebase from './db'

export default {
  name: 'App',
  data() {
    return {
      globalStat: 'normal',
      currentSpeed: '1',
      expSpeed: '3',
      data: '',
      stations: {
        1: {id: 1, name: 's1', people: 0},
        2: {id: 2, name: 's2', people: 1},
        3: {id: 3, name: 's3', people: 4},
      },
    }
  },
  methods: {
    getStations() {
      firebase.database().ref('workers/stations').on('value', snapshot => {
        let returnArr = []
        snapshot.forEach(childSnapshot => {
          returnArr.push(childSnapshot.val())
        });
        this.stations = returnArr
      })

    },
    getCurrentSpeed() {
      firebase.database().ref('workers').on('value', snapshot => {
        this.data= snapshot.val().global
        this.expSpeed = Math.ceil(snapshot.val().global.inline / snapshot.val().global.promise)
        this.currentSpeed = snapshot.val().global.served - snapshot.val().global.oldServed
        setTimeout(() => {
          firebase.database().ref('workers/global').update({oldServed: this.data.served})
        }, 60000)
        this.globalStat = (this.expSpeed > this.currentSpeed) ? 'critical' : (this.expSpeed < this.currentSpeed) ? 'normal' : 'warning'
      })
    }
  },
  created() {
    this.getStations()
    this.getCurrentSpeed()
  }
}
</script>
